header {
  padding: 2%;
}
ul {
  display: flex;
  list-style: none;
  gap: 15%;
  color: #7b7b7b;
  align-items: center;
}
ul li:first-child {
  font-weight: 900;
  font-size: 28px;
  color: #282828;
}
